.main {
    max-width: 720px;
}

.container {
    max-width: 640px;
    width: 100vw;
    margin: 40px auto 20px auto;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    height: 350px;
    padding: 20px 0 30px 0;
}

.title {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.caption {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 40px 0;
}

button {
    cursor: pointer;
    border: none;
    box-shadow: none;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
    font-size: 18px;
    font-weight: 700;
    color: rgb(217, 85, 80);
    box-shadow: rgb(235 235 235) 0px 6px 0px;
    width: 190px;
    height: 50px;
}